/.conda
/.ruff_cache
/.vscode
/Cheat Sheet
/Class
/Data
/desktop.ini
/EDHEC
/Functions
/Mean_Reversion_Strategy.html
/Mean_Reversion_Strategy_window-50,buy_threshold--60,sell_threshold-0_.html
/Python-for-Finance-Repo-master
/Research Ideas.docx
/SQLite3
/Trading